{% extends "bootstrap/base.html" %}

{% block title %}论文颜值分析{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('upload_file') }}">Appearance Analysis</a>
        </div>
    <!--这是一段注释。注释不会在浏览器中显示。
        <div class="nav navbar-nav navbar-right">
            <a class="navbar-brand" href="{{ url_for('hello') }}"> 回到欢迎页面 </a>
        </div>
    -->
    </nav>
{% endblock %}

{% block content %}

    <div class="container">
        <!-- flash message -->
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">close</span></button>
                {{ message }}
            </div>
        {% endfor %}

        <!-- body block -->
        {% block page_content %} {% endblock %}
    </div>
{% endblock %}
