{% extends "base_env.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        {{ dropzone.load_css() }}
        {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%') }}



    </head>

    <body>
    <!-- Change action value to your upload address -->
    {{ dropzone.create(action="upload_file") }}
    {{ dropzone.load_js() }}
    {{ dropzone.config() }}


    <div class="card-body">
        <h4 class="card-title">README</h4>
        The source code of this system is opened in github <a
            href="https://github.com/david990917/Appearance-analysis-of-the-paper"
            target="_blank">Appearance-analysis-of-the-paper</a>.
        <br><br>
        1. You can upload a paper (a pdf file) to the website, and the system will evaluate it from several dimensions.
        <br><br>
        2. The score is for reference only, and we hope it will be helpful.
        <br><br>
        3. The system will not save your PDFs.
        <br><br>
        Reference: Huang J B. Deep Paper Gestalt[J]. arXiv preprint arXiv:1812.08775, 2018.
        <br>
    </div>
    </body>
{% endblock %}